FACEBOOK_APP_ID=SEU_FACEBOOK_APP_ID
FACEBOOK_LOGIN_PROTOCOL_SCHEME=fbSEU_FACEBOOK_APP_ID
FACEBOOK_CLIENT_TOKEN=SEU_FACEBOOK_CLIENT_TOKEN

DB_URL=jdbc:postgresql://SEU_HOST:SUA_PORTA/SEU_BANCO?sslmode=require
DB_USER=SEU_USUARIO
DB_PASSWORD=SUA_SENHA