.git
.github

.gradle
build
**/build
**/node_modules

.idea
.vscode

local.properties

# Environment
.env
.env.*
!.env.example

# Kubernetes
k8s/secret.yaml

*.iml
*.log

captures

.DS_Store
Thumbs.db
