<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application android:usesCleartextTraffic="true">
        <!-- Acesso de demonstração, separado do login enquanto não há papel de síndico. -->
        <activity
            android:name=".views.SindicoHomeActivity"
            android:exported="true"
            android:label="EcoCiente Síndico (demo)"
            tools:replace="android:exported">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
